<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.longlong.bean,com.longlong.service" />

<!--    use-default-filters表示是否使用spring默认提供的过滤器，配置扫描某个注解-->
<!--
    <context:component-scan base-package="com.longlong" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
-->

    <beans profile="dev">
        <bean id="ds" class="com.longlong.bean.DataSource" p:url="jdbc:mysql://127.0.0.1:3306/dev" p:username="dev" p:password="dev"/>
    </beans>
    <beans profile="prod">
        <bean id="ds" class="com.longlong.bean.DataSource" p:url="jdbc:mysql://127.0.0.1:3306/prod" p:username="prod" p:password="prod"/>
    </beans>
</beans>