<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user1" class="com.longlong.User"></bean>
    <bean id="user2" class="com.longlong.UserFactory" factory-method="getInstance"></bean>

    <bean id="okHttpClient" class="com.longlong.OkHttpClientUtils" factory-method="getInstance"></bean>

    <bean id="userFactory2" class="com.longlong.UserFactory2"></bean>
    <bean id="user3" class="com.longlong.User" factory-bean="userFactory2" factory-method="getInstance"></bean>
</beans>