<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.woilanlan.mapper.BookMapper">
    <!-- 定义映射关系 -->
    <resultMap id="baseResultMap" type="top.woilanlan.bean.Book">
        <constructor>
            <idArg column="id" name="id"/>
            <arg column="author" name="author"/>
        </constructor>

        <!--
        <constructor>
            <idArg column="id" name="arg0" javaType="java.lang.Integer"/>
            <arg column="author" name="arg1" javaType="java.lang.String"/>
        </constructor>
        -->

        <!--
        <id property="id" column="id"/>
        <result property="author" column="author"/>
        <result property="name" column="b_name"/>
        -->
    </resultMap>

    <select id="getAllBook" resultMap="baseResultMap">
        select * from t_book tb;
    </select>

    <select id="getBookByAuthor" resultType="Book" parameterType="java.lang.String">
        select * from t_book
        <if test="author!=null">
            where author = #{author}
        </if>
    </select>

    <select id="getBookByAuthor2" resultType="top.woilanlan.bean.Book">
        <!--
        select * from t_book where 1=1
        -->
        select * from t_book
        <where>
            <if test="author!=null and author!=''">
                and author = #{author}
            </if>
            <if test="id!=null">
                and id > #{id}
            </if>
        </where>
    </select>
    
    <sql id="sql1">
        tb.id as id,tb.b_name as name,tb.author as author
    </sql>

    <select id="getBooksByIds" resultType="top.woilanlan.bean.Book">
        select 
        <include refid="sql1"></include>
        from t_book tb where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <insert id="addBook">
        insert into t_book (author,b_name) values
        <foreach collection="books" item="book" separator=",">
            (#{book.author},#{book.name})
        </foreach>
    </insert>
    <!-- 去掉最后面的逗号 -->
    <update id="updateBookById">
        update t_book
        <set>
            <trim suffixOverrides=",">
                <if test="author!=null">
                    author = #{author},
                </if>
                <if test="name!=null">
                    b_name = #{name},
                </if>
            </trim>
        </set>
        where id = #{id};
    </update>
</mapper>