<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.woilanlan.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="top.woilanlan.bean.Employee">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="idCard" jdbcType="CHAR" property="idcard" />
    <result column="wedlock" jdbcType="CHAR" property="wedlock" />
    <result column="nationId" jdbcType="INTEGER" property="nationid" />
    <result column="nativePlace" jdbcType="VARCHAR" property="nativeplace" />
    <result column="politicId" jdbcType="INTEGER" property="politicid" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="departmentId" jdbcType="INTEGER" property="departmentid" />
    <result column="jobLevelId" jdbcType="INTEGER" property="joblevelid" />
    <result column="posId" jdbcType="INTEGER" property="posid" />
    <result column="engageForm" jdbcType="VARCHAR" property="engageform" />
    <result column="tiptopDegree" jdbcType="CHAR" property="tiptopdegree" />
    <result column="specialty" jdbcType="VARCHAR" property="specialty" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="beginDate" jdbcType="DATE" property="begindate" />
    <result column="workState" jdbcType="CHAR" property="workstate" />
    <result column="workID" jdbcType="CHAR" property="workid" />
    <result column="contractTerm" jdbcType="DOUBLE" property="contractterm" />
    <result column="conversionTime" jdbcType="DATE" property="conversiontime" />
    <result column="notWorkDate" jdbcType="DATE" property="notworkdate" />
    <result column="beginContract" jdbcType="DATE" property="begincontract" />
    <result column="endContract" jdbcType="DATE" property="endcontract" />
    <result column="workAge" jdbcType="INTEGER" property="workage" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="top.woilanlan.bean.Employee" extends="BaseResultMap">
    <association property="department" javaType="top.woilanlan.bean.Department">
      <id column="did" property="id"/>
      <result column="dname" property="name"/>
    </association>
  </resultMap>

  <resultMap id="BaseResultMap3" type="top.woilanlan.bean.Employee" extends="BaseResultMap">
    <association property="department"
                 select="top.woilanlan.mapper.EmployeeMapper.getDeptByEid"
                 column="departmentId"
                 fetchType="lazy">
    </association>
  </resultMap>
  <resultMap id="DepResultMap" type="top.woilanlan.bean.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="depPath" jdbcType="VARCHAR" property="deppath" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="isParent" jdbcType="BIT" property="isparent" />
  </resultMap>

  <select id="getEmployeeById" resultMap="BaseResultMap2">
    select e.*,d.id as did,d.name as dname from department d,employee e where e.departmentId = d.id and e.id = #{eid};
  </select>

  <select id="getEmployeeById2" resultMap="BaseResultMap3">
    select * from employee where id = #{eid}
  </select>

  <select id="getDeptByEid" resultMap="DepResultMap">
    select * from department where id = #{did};
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.woilanlan.bean.Employee">
    insert into employee (id, name, gender, 
      birthday, idCard, wedlock, nationId, 
      nativePlace, politicId, email, 
      phone, address, departmentId, 
      jobLevelId, posId, engageForm, 
      tiptopDegree, specialty, school, 
      beginDate, workState, workID, 
      contractTerm, conversionTime, notWorkDate, 
      beginContract, endContract, workAge
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{birthday,jdbcType=DATE}, #{idcard,jdbcType=CHAR}, #{wedlock,jdbcType=CHAR}, #{nationid,jdbcType=INTEGER}, 
      #{nativeplace,jdbcType=VARCHAR}, #{politicid,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{departmentid,jdbcType=INTEGER}, 
      #{joblevelid,jdbcType=INTEGER}, #{posid,jdbcType=INTEGER}, #{engageform,jdbcType=VARCHAR}, 
      #{tiptopdegree,jdbcType=CHAR}, #{specialty,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{begindate,jdbcType=DATE}, #{workstate,jdbcType=CHAR}, #{workid,jdbcType=CHAR}, 
      #{contractterm,jdbcType=DOUBLE}, #{conversiontime,jdbcType=DATE}, #{notworkdate,jdbcType=DATE}, 
      #{begincontract,jdbcType=DATE}, #{endcontract,jdbcType=DATE}, #{workage,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.woilanlan.bean.Employee">
    update employee
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=DATE},
      idCard = #{idcard,jdbcType=CHAR},
      wedlock = #{wedlock,jdbcType=CHAR},
      nationId = #{nationid,jdbcType=INTEGER},
      nativePlace = #{nativeplace,jdbcType=VARCHAR},
      politicId = #{politicid,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=INTEGER},
      jobLevelId = #{joblevelid,jdbcType=INTEGER},
      posId = #{posid,jdbcType=INTEGER},
      engageForm = #{engageform,jdbcType=VARCHAR},
      tiptopDegree = #{tiptopdegree,jdbcType=CHAR},
      specialty = #{specialty,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      beginDate = #{begindate,jdbcType=DATE},
      workState = #{workstate,jdbcType=CHAR},
      workID = #{workid,jdbcType=CHAR},
      contractTerm = #{contractterm,jdbcType=DOUBLE},
      conversionTime = #{conversiontime,jdbcType=DATE},
      notWorkDate = #{notworkdate,jdbcType=DATE},
      beginContract = #{begincontract,jdbcType=DATE},
      endContract = #{endcontract,jdbcType=DATE},
      workAge = #{workage,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicId, 
    email, phone, address, departmentId, jobLevelId, posId, engageForm, tiptopDegree, 
    specialty, school, beginDate, workState, workID, contractTerm, conversionTime, notWorkDate, 
    beginContract, endContract, workAge
    from employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicId, 
    email, phone, address, departmentId, jobLevelId, posId, engageForm, tiptopDegree, 
    specialty, school, beginDate, workState, workID, contractTerm, conversionTime, notWorkDate, 
    beginContract, endContract, workAge
    from employee
  </select>

</mapper>